.mat-card {
  color: var(--bs-body-color);
}

.mat-card,
.mat-body,
.mat-body-1,
.mat-typography {
  font-family: var(--bs-body-font-family) !important;
  font-size: var(--bs-body-font-size);
}

.mat-body,
.mat-body-1,
.mat-typography {
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
}

.mat-card-title {
  margin-bottom: 0.5rem;
}

.mat-card-subtitle,
.mat-card-content {
  font-size: var(--bs-body-font-size);
}

.mat-h1,
.mat-headline,
.mat-typography h1,
.mat-typography .h1 {
  font-size: calc(1.375rem + 1.5vw);
  line-height: 1.2;
}

.mat-h4,
.mat-subheading-1,
.mat-typography h4,
.mat-typography .h4 {
  font-size: 1.5rem;
}

.mat-h5,
.mat-typography h5,
.mat-typography .h5 {
  font-size: 1.25rem;
}

.mat-h6,
.mat-typography h6,
.mat-typography .h6 {
  font-size: 1rem;
}

.h1,
.h2,
.h3,
.h4,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  line-height: 1.2;
}

// Use bootstrap's primary color instead of angular's theme color
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: var(--bs-primary);
}
