// The reset.scss sass file allows you to override some of the bootstrap styles
// that you don't want. That's why you've added it after all the bootstrap
// imports.
// ref: https://www.amadousall.com/the-best-parts-of-bootstrap-you-are-missing-in-angular-material/

// Disable bootstrap's anchor color text change on hover. Instead, we keep the
// current color without changing it.
a {
  &.mat-button,
  &.mat-raised-button,
  &.mat-fab,
  &.mat-mini-fab,
  &.mat-list-item {
    &:hover {
      color: currentColor;
    }
  }
}
