<p>demonstration works!</p>
<table>
  <thead>
    <tr>
      <th>Source</th>
      <th>Content</th>
    </tr>
  </thead>
  <tbody>
    <td>JSON</td>
    <td>
      <!-- <span *ngIf="jsonMessage">{{ jsonMessage }}</span> -->
      {{ jsonMessage }}
    </td>
  </tbody>
</table>
